<?xml version='1.0' encoding='utf-8'?>
<settings>
  <category label="30001">
    <setting id="max_retry_attempts" type="enum" label="30011" values="1|2|3|4|5|6|7|8|9|10" default="2" />
    <setting id="viewtype" type="enum" label="30012" values="List|Poster|Wide List|Wall|Fanart" default="2" />
    <setting id="use_video_thumbs_as_fanart" type="bool" label="30015" default="false" />
    <setting id="main_menu_website_sort" type="enum" label="30003" values="A-Z|Z-A|Newest Websites|Category" default="0" visible="false" />
    <setting id="main_menu_website_content_filter" type="text" default="" visible="false" />
    <setting id="main_menu_website_type_filter" type="text" default="" visible="false" />
    <setting id="global_quality" type="enum" label="30769" lvalues="30770|30771|30772|30773|30774|30775" default="0" />
    <setting id="clear_cache" type="action" label="30013" action="RunScript(special://home/addons/plugin.video.adulthideout/resources/clear_cache.py)" />
    <setting id="reset_settings" type="action" label="30014" action="RunScript(special://home/addons/plugin.video.adulthideout/resources/reset_settings.py)" />
    <setting type="lsep" label="30821" />
    <setting id="open_adulthideout_diagnostics" type="action" label="30824" action="RunPlugin(plugin://plugin.video.adulthideout/?mode=1&amp;action=run_diagnostics)" />
  </category>
  <category label="30810">
    <setting id="resolver_preferred" type="select" label="30776" values="Default|Hglink|Dood|StreamTape|TurboPlayers|Vidhide|Voe|MixDrop|Lulu|VTube|Vidello|Netu|MyDaddy|88z|TubexPlayer|WatchStreamHD|Bigwarp|Vsonic" default="0" />
    <setting id="resolver_preflight" type="bool" label="30777" default="true" />
    <setting type="action" label="30819" action="RunScript(special://home/addons/plugin.video.adulthideout/resources/resolver_options.py)" />
    <setting id="resolver_enable_88z" type="bool" label="88z" default="true" visible="false" />
    <setting id="resolver_enable_hglink" type="bool" label="Hglink" default="true" visible="false" />
    <setting id="resolver_enable_doodstream" type="bool" label="Dood" default="true" visible="false" />
    <setting id="resolver_enable_streamtape" type="bool" label="StreamTape" default="true" visible="false" />
    <setting id="resolver_enable_turboplayers" type="bool" label="TurboPlayers" default="true" visible="false" />
    <setting id="resolver_enable_vidhide" type="bool" label="Vidhide" default="true" visible="false" />
    <setting id="resolver_enable_voe" type="bool" label="Voe" default="true" visible="false" />
    <setting id="resolver_enable_mixdrop" type="bool" label="MixDrop" default="true" visible="false" />
    <setting id="resolver_enable_mydaddy" type="bool" label="MyDaddy" default="true" visible="false" />
    <setting id="resolver_enable_lulustream" type="bool" label="LuluStream" default="true" visible="false" />
    <setting id="resolver_enable_vtube" type="bool" label="VTube" default="true" visible="false" />
    <setting id="resolver_enable_vidello" type="bool" label="Vidello" default="true" visible="false" />
    <setting id="resolver_enable_dirtyvideo" type="bool" label="Netu" default="true" visible="false" />
    <setting id="resolver_enable_tubexplayer" type="bool" label="TubexPlayer" default="true" visible="false" />
    <setting id="resolver_enable_watchstreamhd" type="bool" label="WatchStreamHD" default="true" visible="false" />
    <setting id="resolver_enable_bigwarp" type="bool" label="Bigwarp" default="true" visible="false" />
    <setting id="resolver_enable_vsonic" type="bool" label="Vsonic" default="true" visible="false" />
  </category>
  <category label="30807">
    <setting type="lsep" label="[B]CrazyShit[/B]" />
    <setting id="show_crazyshit" type="bool" label="30809" default="false" />
    <setting type="lsep" label="[B]PervClips[/B]" />
    <setting id="show_pervclips" type="bool" label="30825" default="false" />
    <setting type="action" label="30812" action="RunScript(special://home/addons/plugin.video.adulthideout/resources/site_options.py)" />
    <setting id="crazyshit_disclaimer_accepted" type="bool" default="false" visible="false" />
    <setting type="lsep" label="30802" />
    <setting type="action" label="30808" action="RunPlugin(plugin://plugin.video.adulthideout/?mode=1&amp;action=manage_hidden_websites)" />
    <setting type="action" label="30803" action="RunPlugin(plugin://plugin.video.adulthideout/?mode=1&amp;action=restore_all_websites)" />
    <setting id="hidden_websites" type="text" default="" visible="false" />
    <setting id="website_visibility_migrated" type="bool" default="false" visible="false" />
    <setting id="ashemaletube_pf_country" type="enum" label="30500" values="Any|Argentina|Australia|Austria|Brazil|Canada|Chile|China|Colombia|Czechia|France|Germany|Hong Kong|Hungary|Indonesia|Italy|Japan|Malaysia|Mexico|Netherlands|Peru|Philippines|Poland|Romania|Russia|Spain|Switzerland|Thailand|United Kingdom|United States|Venezuela" default="0" visible="false" />
    <setting id="ashemaletube_pf_penis" type="enum" label="30501" values="Any|Small|Medium|Big" default="0" visible="false" />
    <setting id="ashemaletube_pf_breast" type="enum" label="30502" values="Any|Small|Medium|Big|Natural" default="0" visible="false" />
    <setting id="ashemaletube_pf_hair" type="enum" label="30503" values="Any|Black|Brown|Auburn|Red|Blonde|Varies / Changing|Shaved/Bald|Mixture / Multi Colored|Silver / Grey" default="0" visible="false" />
    <setting id="ashemaletube_pf_birthday" type="enum" label="30504" values="Any|1960-1969|1970-1979|1980-1989|1990-1999|2000-2007" default="0" visible="false" />
    <setting id="ashemaletube_pf_eyes" type="enum" label="30505" values="Any|Blue|Brown|Green|Grey|Hazel" default="0" visible="false" />
    <setting id="ashemaletube_pf_gender" type="enum" label="30506" values="Any|TS/TG|CD/TV|Male|Female" default="0" visible="false" />
    <setting id="eporner_gay_filter" type="enum" label="30005" values="Exclude Gay (Straight)|Only Gay|Include Gay (Both)" default="0" visible="false" />
    <setting id="eporner_quality_filter" type="enum" label="   Quality" values="All|720p+ (HD)|1080p+ (Full HD)|4K (2160p)" default="0" visible="false" />
    <setting id="eporner_min_duration" type="enum" label="   Duration" values="All|Short (&lt; 10 min)|10+ min|20+ min|30+ min" default="0" visible="false" />
    <setting id="erome_content_type" type="enum" label="   Content" values="All|Straight|Gay|Trans|Hentai" default="0" enable="eq(-2,true)" visible="false" />
    <setting id="freeomovie_autoplay_hoster" type="bool" label="30131" default="true" visible="false" />
    <setting id="abxxx_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="8kporner_sort_by" type="enum" label="30004" values="Latest|Trending|Top Rated" default="0" visible="false" />
    <setting id="one43porn_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="mygoodporn_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="porneec_sort_by" type="enum" label="30004" values="Newest|Best|Most Viewed|Longest" default="0" visible="false" />
    <setting id="pornmike_sort_by" type="enum" label="30004" values="Newest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="allowflash_sort_by" type="enum" label="30004" values="Newest|Trending" default="0" visible="false" />
    <setting id="cosplayporntube_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="cumdrinkingclips_sort_by" type="enum" label="30004" values="Newest|Best|Most Viewed|Longest" default="0" visible="false" />
    <setting id="femdomvc_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="footstockings_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="vxxx_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="tickleporn_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="giantessporn_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="hcbdsm_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="pornbimbo_sort_by" type="enum" label="30004" values="Latest|Most Viewed" default="0" visible="false" />
    <setting id="fourkporn_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="inporn_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="ashemaletube_sort_by" type="enum" label="30101" values="Trending|Date Added|Most Popular|Top Rated|Longest" default="0" visible="false" />
    <setting id="ashemaletube_pornstar_sort_by" type="enum" label="30102" values="User Favorites|Alphabet|Top Rated|Date Added|Most Videos|Most Galleries|Most Comments" default="0" visible="false" />
    <setting id="bdsmstreak_sort_by" type="enum" label="30004" values="Newest|Popular" default="0" visible="false" />
    <setting id="bdsmvilla_sort_by" type="enum" label="30004" values="Latest|Best" default="0" visible="false" />
    <setting id="bondagevalley_sort_by" type="enum" label="30004" values="Latest|Trending|Top" default="0" visible="false" />
    <setting id="fetishpapa_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated|Longest" default="0" visible="false" />
    <setting id="fetishshrine_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated|Longest" default="0" visible="false" />
    <setting id="beeg_sort_by" type="enum" label="30004" values="Newest|Popular|Top Rated" default="0" visible="false" />
    <setting id="camcaps_sort_by" type="enum" label="30004" values="Most Recent|Featured|Most Viewed|Top Rated|Top Favorites|Being Watched" default="0" visible="false" />
    <setting id="camgirlfap_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="camstreams_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="camwhores_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="hqfap_sort_by" type="enum" label="30004" values="Latest|Trending|Top Rated" default="0" visible="false" />
    <setting id="morehardporn_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="chaturbate_sort_by" type="enum" label="30004" values="Most Relevant|Most Viewers|Random" default="0" visible="false" />
    <setting id="erome_sort_by" type="enum" label="   Sort by" values="Hot|New" default="1" enable="eq(-1,true)" visible="false" />
    <setting id="balbums_sort_by" type="enum" label="   Sort by" values="Latest|Oldest|Most Files" default="0" enable="eq(-1,true)" visible="false" />
    <setting id="epawg_sort_by" type="enum" label="30004" values="Latest|Trending|Most Viewed" default="0" visible="false" />
    <setting id="euroxxx_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="shesfreaky_sort_by" type="enum" label="30004" values="Newest|Featured|Top Rated|Most Viewed" default="0" visible="false" />
    <setting id="thisvid_sort_by" type="enum" label="30004" values="Newest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="pornhat_sort_by" type="enum" label="30004" values="Newest|Top Rated|Most Viewed|Longest" default="0" visible="false" />
    <setting id="pornmedium_sort_by" type="enum" label="30004" values="Latest|Best Rated|Most Viewed" default="0" visible="false" />
    <setting id="pornmedium_sort_migrated_1012" type="bool" default="false" visible="false" />
    <setting id="pervertium_sort_by" type="enum" label="30004" values="Latest Updates|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="pornone_sort_by" type="enum" label="30004" values="New|Hot|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="tube8_sort_by" type="enum" label="30004" values="Newest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="letmejerk_sort_by" type="enum" label="30004" values="Popular|Latest|Top Rated" default="0" visible="false" />
    <setting id="mylust_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Best" default="0" visible="false" />
    <setting id="upornia_sort_by" type="enum" label="30004" values="Most Popular|Latest Updates|Top Rated" default="0" visible="false" />
    <setting id="xcafe_sort_by" type="enum" label="30004" values="Recommended|Newest|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="fullporner_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="xxxfiles_sort_by" type="enum" label="30004" values="Latest Updates|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="3movs_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Total Videos" default="0" visible="false" />
    <setting id="xmoviesforyou_sort_by" type="enum" label="30004" values="Newest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="okxxx_sort_by" type="enum" label="30004" values="Recent|Popular|Top Rated" default="0" visible="false" />
    <setting id="pornslash_sort_by" type="enum" label="30004" values="Trending|New" default="0" visible="false" />
    <setting id="pornheed_sort_by" type="enum" label="30004" values="Recent|Most Viewed|Runtime" default="0" visible="false" />
    <setting id="porn7_sort_by" type="enum" label="30004" values="Popular|New" default="1" visible="false" />
    <setting id="porn00_sort_by" type="enum" label="30004" values="Latest|All|Popular|Top Rated" default="0" visible="false" />
    <setting id="trendyporn_sort_by" type="enum" label="30004" values="Most Recent|Top Rated|Most Viewed|Longest" default="0" visible="false" />
    <setting id="nudez_sort_by" type="enum" label="30004" values="Latest|Top Rated|Most Viewed" default="0" visible="false" />
    <setting id="pornwhite_sort_by" type="enum" label="30004" values="Latest|Popular|Top Rated" default="0" visible="false" />
    <setting id="pornflip_sort_by" type="enum" label="30004" values="Latest|Trending" default="0" visible="false" />
    <setting id="porntry_sort_by" type="enum" label="30004" values="Latest|Top Rated|Most Viewed" default="0" visible="false" />
    <setting id="saintporn_sort_by" type="enum" label="30004" values="Latest|Top Rated|Most Viewed" default="0" visible="false" />
    <setting id="watchporn_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="watchporn_pornstar_sort_by" type="enum" label="30232" values="Alphabet|Most Viewed|Most Videos" default="0" visible="false" />
    <setting id="wowxxx_sort_by" type="enum" label="30004" values="Latest|Top Rated|Most Viewed" default="0" visible="false" />
    <setting id="w1mp_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="bigassporn_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="fpo_sort_by" type="enum" label="30004" values="Latest|Popular|Top Rated" default="0" visible="false" />
    <setting id="theyarehuge_sort_by" type="enum" label="30004" values="Recent|Popular|Top Rated" default="0" visible="false" />
    <setting id="bigtitslust_sort_by" type="enum" label="30004" values="Latest|Most Popular" default="0" visible="false" />
    <setting id="blackporn24_sort_by" type="enum" label="30004" values="Newest|Hottest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="milfporn8_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="blowjobspro_sort_by" type="enum" label="30004" values="Newest|Hottest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="lesbianporn8_sort_by" type="enum" label="30004" values="Newest|Hottest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="yourlesbians_sort_by" type="enum" label="30004" values="Newest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="pmvhaven_sort_by" type="enum" label="30004" values="Newest|Most Popular|Trending" default="0" visible="false" />
    <setting id="pimpbunny_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Best Rated" default="0" visible="false" />
    <setting id="ikisoda_sort_by" type="enum" label="30004" values="Recently Added|Latest Releases|Most Viewed|Best Rated" default="0" visible="false" />
    <setting id="zbporn_sort_by" type="enum" label="30004" values="Latest|Popular|Top Rated|Longest" default="0" visible="false" />
    <setting id="tubev_sort_by" type="enum" label="30004" values="Popular|New" default="0" visible="false" />
    <setting id="tgtsporn_sort_by" type="enum" label="30004" values="Latest|Trending|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="thepornbang_sort_by" type="enum" label="30004" values="Latest|Best" default="0" visible="false" />
    <setting id="bravoporn_sort_by" type="enum" label="30004" values="Latest|Popular" default="0" visible="false" />
    <setting id="perfectgirls_sort_by" type="enum" label="30004" values="Latest|Popular|Trending" default="0" visible="false" />
    <setting id="yespornvip_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="familypornhd_sort_by" type="enum" label="30004" values="Latest|Popular" default="0" visible="false" />
    <setting id="faapy_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="jizzberry_sort_by" type="enum" label="30004" values="Newest|Top" default="0" visible="false" />
    <setting id="justporn_sort_by" type="enum" label="30004" values="Latest|Popular|Top Rated" default="0" visible="false" />
    <setting id="321tube_sort_by" type="enum" label="30004" values="Newest|Popular" default="0" visible="false" />
    <setting id="movie4days_sort_by" type="enum" label="30004" values="Newest|Popular" default="0" visible="false" />
    <setting id="porn4days_sort_by" type="enum" label="30004" values="Newest|Popular" default="0" visible="false" />
    <setting id="xgroovy_sort_by" type="enum" label="30004" values="New|Best" default="0" visible="false" />
    <setting id="inxxx_sort_by" type="enum" label="30004" values="Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="xfreehd_sort_by" type="enum" label="30004" values="Most Recent|Top Rated|Most Viewed" default="0" visible="false" />
    <setting id="trannyvideosxxx_sort_by" type="enum" label="30004" values="Recent|Popular|Most Viewed|Top Rated|Featured" default="0" visible="false" />
    <setting id="milffox_sort_by" type="enum" label="30004" values="Popular|Recent|Longest" default="0" visible="false" />
    <setting id="sexvid_sort_by" type="enum" label="30004" values="Latest|Top Rated|Longest|Most Commented|Most Favourited" default="0" visible="false" />
    <setting id="tokyomotion_sort_by" type="enum" label="30004" values="Most Recent|Most Viewed|Top Rated|Longest|Being Watched" default="0" visible="false" />
    <setting id="zeenite_sort_by" type="enum" label="30004" values="Latest Updates|Most Popular" default="0" visible="false" />
    <setting id="collectionofbestporn_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="yourlust_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="xxbrits_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="pornxp_sort_by" type="enum" label="30004" values="Latest|New Releases|HD|Most Watched" default="0" visible="false" />
    <setting id="porntop_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="sextu_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Popular Today" default="0" visible="false" />
    <setting id="sextvx_sort_by" type="enum" label="30004" values="Latest|Most Viewed|HD" default="0" visible="false" />
    <setting id="neporn_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="pornrabbit_sort_by" type="enum" label="30004" values="Popular|Top Rated|Longest|Latest" default="0" visible="false" />
    <setting id="pornve_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="cherrygasp_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="fapnfuck_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="fapello_sort_by" type="enum" label="30004" values="Latest|Popular Today|Popular Week|Popular All Time" default="0" visible="false" />
    <setting id="allclassic_sort_by" type="enum" label="30004" values="Latest|Popular" default="0" visible="false" />
    <setting id="xmegadrive_sort_by" type="enum" label="30004" values="Latest|Popular" default="0" visible="false" />
    <setting id="eporner_sort_by" type="enum" label="   Sort by" values="Newest|Most Viewed|Top Rated|Longest|Shortest" default="0" visible="false" />
    <setting id="hanime_sort_by" type="enum" label="30004" values="Recent Upload|Old Upload|Most Views|Least Views|Most Likes|Least Likes|Alphabetical (A-Z)|Alphabetical (Z-A)" default="0" visible="false" />
    <setting id="hentaisea_sort_by" type="enum" label="30004" values="Latest Episodes|Series" default="0" visible="false" />
    <setting id="akih_sort_by" type="enum" label="30004" values="Latest|Popular" default="0" visible="false" />
    <setting id="hentai2w_sort_by" type="enum" label="30004" values="Most Recent|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="hentaicity_sort_by" type="enum" label="30004" values="Most Recent|Most Popular|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="hentaimama_sort_by" type="enum" label="30004" values="Latest Episodes|Hentai Series|3D|Uncensored" default="0" visible="false" />
    <setting id="hentaimoon_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="hclips_sort_by" type="enum" label="30004" values="Latest|Popular|Top Rated|Most Commented" default="0" visible="false" />
    <setting id="hdeasyporn_sort_by" type="enum" label="30004" values="Newest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="hdzog_sort_by" type="enum" label="30004" values="Most Popular|Latest Updates|Top Rated|Most Viewed|Longest" default="0" visible="false" />
    <setting id="hqpornero_sort_by" type="number" default="0" visible="false" />
    <setting id="hentaigasm_sort_by" type="enum" label="30004" values="Date|Views|Likes|Title|Random" default="0" visible="false" />
    <setting id="iwara_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Most Liked|Trending" default="0" visible="false" />
    <setting id="jable_sort_by" type="enum" label="30004" values="Latest|Hot" default="0" visible="false" />
    <setting id="javguru_sort_by" type="enum" label="30004" values="Latest|Trending" default="0" visible="false" />
    <setting id="javmix_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="javrate_sort_by" type="enum" label="30004" values="Latest|Uncensored|Censored|Chinese" default="0" visible="false" />
    <setting id="javtiful_sort_by" type="enum" label="30004" values="Latest|Popular This Week|Popular Today|Most Viewed" default="0" visible="false" />
    <setting id="hypnotube_sort_by" type="select" label="30004" default="0" values="Most Recent|Most Viewed|Top Rated|Most Discussed|Longest" visible="false" />
    <setting id="luxuretv_sort_by" type="enum" label="30004" values="Newest|Top Rated|Most Viewed|Longest|Most Discussed" default="0" visible="false" />
    <setting id="mangoporn_sort_by" type="enum" label="30004" values="Latest|Trending|Ratings" default="0" visible="false" />
    <setting id="missav_video_sort_by" type="enum" label="30004" values="New Releases|Recent Update|Most Viewed Today|Most Viewed by Week|Most Viewed by Month" default="0" visible="false" />
    <setting id="motherless_sort_by" type="enum" label="30004" values="Newest|Being Watched Now|Favorites|Most Viewed|Most Commented|Popular|Archived|Random Video" default="0" visible="false" />
    <setting id="myporntape_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Longest|Most Commented|Most Favourited" default="0" visible="false" />
    <setting id="noodlemagazine_sort_by" type="enum" label="30004" values="Now|Popular Recent|Popular Day|Popular Week|Popular Month" default="0" visible="false" />
    <setting id="porntn_sort_by" type="enum" label="30004" default="0" values="Trending|Latest|Most Viewed|Top Rated|Longest" visible="false" />
    <setting id="porcore_sort_by" type="enum" label="30004" default="0" values="Newest|Most Viewed|Top Rated" visible="false" />
    <setting id="rule34video_sort_order" type="enum" label="30004" values="Newest|Most Viewed|Top Rated|Longest|Random" default="0" visible="false" />
    <setting id="rule34world_sort_by" type="enum" label="30004" values="Latest|Highest Rated|Hot" default="0" visible="false" />
    <setting id="spankbang_sort_by" type="enum" label="30004" values="Recommended|Trending|Upcoming|New|Popular" default="0" visible="false" />
    <setting id="spankbang_model_sort" type="enum" label="Model Sort" values="Trending|Alphabetical" default="0" visible="false" />
    <setting id="spankingtube_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="tubepornclassic_sort_by" type="enum" label="30004" values="Latest Updates|Top Rated|Longest" default="0" visible="false" />
    <setting id="tubepornclassic_search_sort_by" type="enum" label="30232" values="Relevance|Latest|Top Rated|Most Viewed|Longest" default="0" visible="false" />
    <setting id="txxx_sort_by" type="enum" label="30004" values="Most Popular|Latest Updates|Top Rated|Most Viewed|Longest" default="0" visible="false" />
    <setting id="viralxxxporn_sort_by" type="enum" label="30004" values="Latest|Popular|Top Rated|Longest" default="0" visible="false" />
    <setting id="watchhentai_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="xhamster_sort_by" type="select" label="30004" default="Trending" values="Trending|Newest|Top Rated|Most Popular (Weekly)|Most Popular (Monthly)" visible="false" />
    <setting id="xnxx_sort_order" type="enum" label="   Sort by" values="Relevance|Best / Hits|Newest (Date)|This Month|This Year|Random" default="0" visible="false" />
    <setting id="xtapes_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated" default="0" visible="false" />
    <setting id="xozilla_sort_by" type="enum" label="30004" values="Latest|Most Viewed|Top Rated|Longest" default="0" visible="false" />
    <setting id="xxthots_sort_by" type="enum" label="30004" values="Latest|Top Rated|Most Viewed" default="0" visible="false" />
    <setting id="xxxtube_sort_by" type="enum" label="30004" values="Latest|Top Rated" default="0" visible="false" />
    <setting id="amateur8_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated|Longest" default="0" visible="false" />
    <setting id="analegg_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated|Longest" default="0" visible="false" />
    <setting id="goperv_sort_by" type="enum" label="30004" values="Latest|Popular" default="0" visible="false" />
    <setting id="hairydivas_sort_by" type="enum" label="30004" values="Latest|Popular" default="0" visible="false" />
    <setting id="eroprofile_sort_by" type="enum" label="30004" values="Latest|Popular" default="0" visible="false" />
    <setting id="ruleporn_sort_by" type="enum" label="30004" values="Latest|Most Popular|Top Rated" default="0" visible="false" />
    <setting id="watchmygf_sort_by" type="enum" label="30004" values="Latest|Popular|Popular This Month|Longest" default="0" visible="false" />
    <setting id="xoxporn_sort_by" type="enum" label="30004" values="Most Recent|Most Viewed|Best Rated" default="0" visible="false" />
    <setting id="youramateurporn_sort_by" type="enum" label="30004" values="Latest|Top Rated|Most Viewed|Longest" default="0" visible="false" />
    <setting id="drtuber_content_type" type="text" default="straight" visible="false" />
    <setting id="drtuber_sort" type="text" default="newest" visible="false" />
    <setting id="drtuber_quality" type="text" default="all" visible="false" />
    <setting id="drtuber_channel_sort" type="text" default="top" visible="false" />
    <setting id="avjoy_sort_by" type="number" default="0" visible="false" />
    <setting id="darknessporn_sort_by" type="number" default="0" visible="false" />
    <setting id="fullxcinema_sort_by" type="number" default="0" visible="false" />
    <setting id="archivebate_filter_gender" type="number" default="0" visible="false" />
    <setting id="archivebate_filter_sort" type="number" default="0" visible="false" />
    <setting id="xopenload_sort_by" type="number" default="0" visible="false" />
    <setting id="chaturbate_filter_gender" type="number" default="0" visible="false" />
    <setting id="chaturbate_filter_keywords" type="text" default="" visible="false" />
    <setting id="chaturbate_filter_special" type="number" default="0" visible="false" />
    <setting id="chaturbate_filter_region" type="number" default="0" visible="false" />
    <setting id="chaturbate_filter_age" type="number" default="0" visible="false" />
    <setting id="chaturbate_filter_room_size" type="number" default="0" visible="false" />
    <setting id="chaturbate_filter_private_price" type="number" default="0" visible="false" />
    <setting id="chaturbate_filter_spy_price" type="number" default="0" visible="false" />
    <setting id="bananamovies_sort_by" type="number" default="0" visible="false" />
    <setting id="heavy-r_sort_by" type="number" default="0" visible="false" />
    <setting id="hqporner_sort_by" type="number" default="0" visible="false" />
    <setting id="javsubbed_sort_by" type="number" default="0" visible="false" />
    <setting id="missav_sort_by" type="number" default="0" visible="false" />
    <setting id="notfans_sort_by" type="number" default="0" visible="false" />
    <setting id="sextb_sort_by" type="number" default="0" visible="false" />
    <setting id="pandamovies_sort_by" type="number" default="0" visible="false" />
    <setting id="siska_sort_by" type="number" default="0" visible="false" />
    <setting id="justfullporn_sort_by" type="number" default="0" visible="false" />
    <setting id="xxvideoss_sort_by" type="number" default="0" visible="false" />
    <setting id="porn4fans_sort_by" type="number" default="0" visible="false" />
    <setting id="allpornstream_sort_by" type="number" default="0" visible="false" />
    <setting id="pornhub_sort_by" type="number" default="0" visible="false" />
    <setting id="pornzog_sort_by" type="number" default="0" visible="false" />
    <setting id="porndig_content_type" type="text" default="Straight" visible="false" />
    <setting id="porndig_sort_by" type="number" default="0" visible="false" />
    <setting id="porndig_sort" type="text" default="date" visible="false" />
    <setting id="porndig_section" type="text" default="Pro" visible="false" />
    <setting id="punishbang_sort_by" type="number" default="0" visible="false" />
    <setting id="punishworld_sort_by" type="number" default="0" visible="false" />
    <setting id="porngo_sort_by" type="number" default="0" visible="false" />
    <setting id="redtube_sort_by" type="number" default="0" visible="false" />
    <setting id="redtube_pornstar_sort" type="number" default="0" visible="false" />
    <setting id="redtube_ps_gender" type="text" default="All" visible="false" />
    <setting id="redtube_ps_ethnicity" type="text" default="All" visible="false" />
    <setting id="redtube_ps_cup" type="text" default="All" visible="false" />
    <setting id="redtube_ps_hair" type="text" default="All" visible="false" />
    <setting id="redtube_ps_breastType" type="text" default="All" visible="false" />
    <setting id="redtube_ps_tattoos" type="text" default="All" visible="false" />
    <setting id="redtube_ps_piercings" type="text" default="All" visible="false" />
    <setting id="shemalez_sort_by" type="number" default="0" visible="false" />
    <setting id="thumbzilla_content_type" type="number" default="0" visible="false" />
    <setting id="thumbzilla_sort_by" type="number" default="0" visible="false" />
    <setting id="xcafe_sort_by_internal" type="number" default="0" visible="false" />
    <setting id="pornhoarder_sort_by" type="number" default="0" visible="false" />
    <setting id="porndoe_sort_by" type="number" default="0" visible="false" />
    <setting id="porndoe_content_type" type="number" default="0" visible="false" />
    <setting id="Rapelust_sort_by" type="number" default="0" visible="false" />
    <setting id="youjizz_sort_by" type="text" default="Most Popular" visible="false" />
    <setting id="automated_test" type="bool" default="false" visible="false" />
    <setting id="missav_actress_filter_height" type="select" label="30507" default="" values="All|131-135cm|136-140cm|141-145cm|146-150cm|151-155cm|156-160cm|161-165cm|166-170cm|171-175cm|176-180cm|181-185cm|186-190cm" visible="false" />
    <setting id="missav_actress_filter_cup" type="select" label="30508" default="" values="All|A cup|B cup|C cup|D cup|E cup|F cup|G cup|H cup|I cup|J cup|K cup|L cup|M cup|N cup|O cup|P cup|Q cup" visible="false" />
    <setting id="missav_actress_filter_age" type="select" label="30509" default="" values="All|&lt; 20|20 - 30|30 - 40|40 - 50|50 - 60|&gt; 60" visible="false" />
    <setting id="missav_actress_filter_debut" type="select" label="30510" default="" values="All|Before 2025|Before 2024|Before 2023|Before 2022|Before 2021|Before 2020|Before 2019|Before 2018|Before 2017|Before 2016|Before 2015|Before 2014|Before 2013|Before 2012|Before 2011|Before 2010" visible="false" />
    <setting id="pornslash_content_type" type="enum" label="30005" values="Straight|Gay|Shemale" default="0" visible="false" />
    <setting id="rule34video_content_type" type="enum" label="30005" values="All|Straight|Gay|Futa" default="0" visible="false" />
    <setting id="spankbang_orientation" type="enum" label="30005" values="Straight|Gay|Transsexual" default="0" visible="false" />
    <setting id="spankbang_quality" type="enum" label="30223" values="All|720p|1080p|4k" default="0" visible="false" />
    <setting id="spankbang_duration" type="enum" label="30224" values="All|10+ min|20+ min|40+ min" default="0" visible="false" />
    <setting id="superporn_content_type" type="enum" label="30005" values="Straight|Gay" default="0" visible="false" />
    <setting id="tubepornclassic_min_duration" type="enum" label="30233" values="0|5|10|15|20|30" default="0" visible="false" />
    <setting id="txxx_content_type" type="enum" label="30005" values="Straight|Gay|Trans" default="0" visible="false" />
    <setting id="wowxxx_quality" type="enum" label="30223" values="Highest|2160p|1080p|720p|480p" default="0" visible="false" />
    <setting id="xhamster_category" type="select" label="30005" default="Straight" values="Straight|Gay|Shemale" visible="false" />
    <setting id="xhamster_min_duration" type="select" label="30224" default="All" values="All|0-2 min|2-5 min|5-10 min|10-30 min|30+ min|Full Video" visible="false" />
    <setting id="xhamster_resolution" type="select" label="30223" default="All" values="All|720p+|1080p+|4K" visible="false" />
    <setting id="xnxx_content_type" type="enum" label="   Content" values="Straight|Gay|Trans" default="0" visible="false" />
    <setting id="xnxx_duration" type="enum" label="   Duration" values="All|Short (0-10 min)|Medium (10-20 min)|Long (10 min+)|Extra Long (20 min+)" default="0" visible="false" />
    <setting id="xnxx_quality" type="enum" label="   Quality" values="All|720p+ (HD)|1080p+ (Full HD)" default="0" visible="false" />
  </category>
  <category label="30640">
    <setting id="download_folder" type="folder" label="30643" default="" />
    <setting id="download_backend" type="enum" label="30644" lvalues="30754|30755|30756|30757|30758" default="0" />
    <setting id="show_download_manager" type="bool" label="30645" default="false" />
    <setting id="download_progress_display" type="enum" label="30734" lvalues="30735|30736|30737" default="0" />
    <setting id="enable_offline_library" type="bool" label="30646" default="false" />
    <setting id="offline_library_folder" type="folder" label="30650" default="" />
  </category>
  <category label="30811">
    <setting type="lsep" label="[B]FFmpeg[/B]" />
    <setting id="ffmpeg_path" type="file" label="30631" default="" />
    <setting type="lsep" label="[B]aria2[/B]" />
    <setting id="aria2_rpc_url" type="text" label="30657" default="http://127.0.0.1:6800/jsonrpc" />
    <setting id="aria2_secret" type="text" label="30658" default="" option="hidden" />
    <setting id="aria2_directory" type="text" label="30659" default="" />
    <setting type="lsep" label="[B]JDownloader[/B]" />
    <setting id="jdownloader_url" type="text" label="30666" default="http://127.0.0.1:9666" />
    <setting id="enable_ffmpeg_recorder" type="bool" default="false" visible="false" />
    <setting id="ffmpeg_download_folder" type="folder" default="" visible="false" />
  </category>
  <category label="30841">
    <setting id="enable_website_collections" type="bool" label="30842" default="false" />
    <setting type="action" label="30843" action="ActivateWindow(Videos,plugin://plugin.video.adulthideout/?mode=70&amp;action=collections_menu,return)" enable="eq(-1,true)" />
  </category>
</settings>
